html {
  height: 100vh;
}

body {
  height: 100%;
  margin: 0px;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 999px;
}
