.home {
  height: 100%;
  width: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.home-container {
  display: flex !important;
  height: calc(100% - 80px);
  padding-left: 5px;
  padding-right: 5px;
}

.left-panel {
  position: relative;
  height: 100%;
}

.right-panel {
  margin-left: 300px;
  width: 100%;
  padding: 5px 0px 0px 10px;
}
